### This is a python script that calculates the answers for Module 1 Exercise.
Use as a comparison to your results.<br>Don't worry too much about the code or syntax. (Feel free to explore.)<br>How did you stack up? What could your logic have been better?

In [3]:
#import an external package that we will need; the convention is to put all imports at the
#beginning of the file
import pandas as pd

In [7]:
# open the file and convert it into a pandas dataframe
tlh = pd.read_csv('tlh_weather_data.csv')
# let python know that the DATE column contains dates
tlh.DATE = pd.to_datetime(tlh.DATE, yearfirst=True)

In [8]:
tlh.head()

,STATION,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT08
0,USW00093805,2018-09-01,6.93,NaN,0.01,0.0,0.0,80.0,92,73,90.0,90.0,19.9,23.9,1.0,NaN,1.0,NaN
1,USW00093805,2018-09-02,6.26,NaN,0.33,0.0,0.0,80.0,92,74,120.0,110.0,32.0,38.0,1.0,NaN,1.0,NaN
2,USW00093805,2018-09-03,7.83,NaN,0.47,0.0,0.0,79.0,91,74,130.0,120.0,29.1,36.9,1.0,NaN,1.0,NaN
3,USW00093805,2018-09-04,8.95,NaN,0.32,0.0,0.0,78.0,85,74,90.0,80.0,29.1,35.1,1.0,NaN,1.0,NaN
4,USW00093805,2018-09-05,5.82,NaN,0.35,0.0,0.0,80.0,90,75,80.0,70.0,17.0,21.0,1.0,NaN,1.0,NaN

Note: **NaN** is a placeholder for *null* value.

### Answers to the questions

In [12]:
### Question 1
max_temp = tlh.TMAX.max()
print("The maximum temperature was " + str(max_temp) + " degrees.")

The maximum temperature was 100 degrees.

In [14]:
### Question 2
days_90 = (tlh.TMAX >= 90).sum()
print("Number of 90 or higher degree days: " + str(days_90))

Number of 90 or higher degree days: 130

In [15]:
### Question 3
days_30 = ((tlh.TMAX - tlh.TMIN) > 30).sum()
print("Number of days with more than 30 degree temperature swing: " + str(days_30))

Number of days with more than 30 degree temperature swing: 42

In [16]:
### Question 4
# group the full dataset by months
month_groups = tlh.groupby(pd.Grouper(key='DATE', freq='M'))
# get the max value for each month
max_month_temp = month_groups.TMAX.max()
print("Max temp per month (labeled by last day of month):")
print(max_month_temp)

Max temp per month (labeled by last day of month):
DATE
2018-09-30     96
2018-10-31     92
2018-11-30     82
2018-12-31     80
2019-01-31     81
2019-02-28     83
2019-03-31     85
2019-04-30     88
2019-05-31    100
2019-06-30    100
2019-07-31     98
2019-08-31     98
Freq: M, Name: TMAX, dtype: int64

In [20]:
### Question 5
t_storms = (tlh.WT03==1).sum()
print("Number of days with a thunderstorm:\t" + str(t_storms))

Number of days with a thunderstorm:	109

In [19]:
### Question 6
# Average precipitation, including zero days
avg_precip_all = tlh.PRCP.mean()
print("Average precipitation on all days:\t" + str(avg_precip_all))
avg_precip_rain = tlh.PRCP[tlh.WT03==1].mean()
print("Average precipitation on rain days:\t" + str(avg_precip_rain))

Average precipitation on all days:	0.162712328767
Average precipitation on rain days:	0.379449541284

In [21]:
### Question 7
event_cols = [col for col in tlh.columns if "WT" in col]
tlh['total_WT'] = tlh[event_cols].sum(axis=1)
two_events = (tlh.total_WT==2).sum()
print("Days with exactly two weather events:\t" + str(two_events))

Days with exactly two weather events:	113

In [26]:
### Questions 8
# create a dictionary to translate direction degrees into N,S,E,W
# for example: assigns 'east' to each whole number from 45 to 135 (ignores intermediate directions)
directions = dict(list(zip(range(45, 135), ['east']*(360//4))))
directions.update(list(zip(range(135, 225), ['south']*(360//4))))
directions.update(list(zip(range(225, 315), ['west']*(360//4))))
directions.update(list(zip(range(315, 361), ['north']*((360//8)+1))))
directions.update(list(zip(range(1, 45), ['north']*(360//8))))
# create new column that replaces actual data
tlh['WindDirNames'] = tlh.WDF2.replace(directions)
dir_summary = tlh.groupby('WindDirNames').size()
print("Wind direction summary:")
print(dir_summary)

Wind direction summary:
WindDirNames
east      92
north     68
south    111
west      87
dtype: int64

### Feel free to use the course discussion board to discuss this exercise.